In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_excel(r"D:\Jupyter\RESUME PROJECTS\CARS RESALE\car.xlsx")
df

,brand,model,transmission,age,fuel,price,mileage,power,seats
0,18,244,1,4,1,1231000.0,19.01,4.496471,5
1,10,263,1,6,4,786000.0,19.01,4.496471,5
2,31,123,1,2,1,1489000.0,19.01,4.496471,5
3,9,55,0,1,4,1227000.0,19.01,4.496471,5
4,8,82,1,3,1,887000.0,19.01,4.496471,5
...,...,...,...,...,...,...,...,...,...
32009,5,199,1,6,4,292000.0,19.01,4.496471,5
32010,32,295,1,6,4,534000.0,19.01,4.496471,5
32011,33,25,1,8,4,424000.0,19.01,4.496471,5
32012,10,120,0,5,4,685000.0,19.01,4.496471,5
32013,31,247,1,2,4,392000.0,19.01,4.496471,5

In [7]:
# Separate the features (X) and target variable (y)
X = df.drop('price', axis=1)
y = df['price']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

print('intercept:',model.intercept_)
print('coefficients:',model.coef_)
from sklearn.metrics import r2_score
# prediction on train data
ypred_train = model.predict(X_train)

# evaluation on train datazfrom sklearn.metrics import r2_score
print("train r2:",r2_score(y_train,ypred_train))

#cross validation on train data
from sklearn.model_selection import cross_val_score
print('crossvalidationscore:',cross_val_score(model,X_train,y_train,cv=5).mean())

# predict on test data
ypred_test = model.predict(X_test)

from sklearn.metrics import r2_score
print('testr2:',r2_score(y_test,ypred_test))

intercept: -4133534.9837858328
coefficients: [-1.62170948e+03 -2.10283990e+02 -3.32643051e+05 -4.71600421e+04
 -6.62712088e+04 -9.44023157e+03  1.31554435e+06 -1.93154089e+04]
train r2: 0.5889727798174165
crossvalidationscore: 0.5885910581188296
testr2: 0.5713772705454285

In [10]:
from sklearn.model_selection import GridSearchCV

# model
from sklearn.linear_model import Ridge
estimator = Ridge()

# parameters and values

param_grid = {'alpha':list(range(1,20))}

# identifying the best value of the parameter within given values for the given data

model_hp = GridSearchCV(estimator,param_grid,cv=5,scoring='r2')

model_hp.fit(X_train,y_train)

model_hp.best_params_

{'alpha': 2}

In [12]:
from sklearn.linear_model import Ridge
ridge_best = Ridge(alpha=2)
ridge_best.fit(X_train,y_train)

print('intercept:',ridge_best.intercept_)
print('coefficients:',ridge_best.coef_)


# prediction and evaluation on train data
ypred_train = ridge_best.predict(X_train)

from sklearn.metrics import r2_score
print('train r2:',r2_score(y_train,ypred_train))

from sklearn.model_selection import cross_val_score
print('cvscore:',cross_val_score(ridge_best,X_train,y_train,cv=5).mean())

# prediction and evaluation on test data

ypred_test = ridge_best.predict(X_test)
print('testr2;',r2_score(y_test,ypred_test))

intercept: -4119333.0574700325
coefficients: [-1.63200098e+03 -2.10302128e+02 -3.32953102e+05 -4.71831777e+04
 -6.64512417e+04 -9.55677977e+03  1.31325751e+06 -1.94079429e+04]
train r2: 0.5889723307952779
cvscore: 0.5885918299060882
testr2; 0.571404996111684